<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head')%>
    <title><%= title %></title>
  </head>
  <body class="fw-bold">
    <%- include('./partials/navbar')%>

    <div class="container">
      <div class="row justify-content-center bg-primary bg-gradient">
        <div class="col-12 col-md-6">
          <div class="modal-body">
            <h2>Update user details</h2>
            <form
              action="/update/<%= user._id%>"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="form-group mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  value="<%= user.name%>"
                  class="form-control border-secondary"
                  id="name"
                  name="name"
                  placeholder="Enter user name"
                />
              </div>
              <div class="form-group mb-3">
                <label for="email" class="form-label">Email address</label>
                <input
                  type="email"
                  value="<%= user.email%>"
                  class="form-control border-secondary"
                  id="email"
                  name="email"
                  placeholder="Enter email"
                />
              </div>
              <div class="form-group mb-3">
                <label for="phone" class="form-label">Phone</label>
                <input
                  type="tel"
                  value="<%= user.phone%>"
                  class="form-control border-secondary"
                  id="phone"
                  name="phone"
                  placeholder="Enter phone number"
                />
              </div>
              <div class="form-group mb-3">
                <label for="image" class="form-label">Profile Image</label>
                <input
                  type="file"
                  class="form-control border-secondary"
                  id="image"
                  name="image"
                />
                <img
                  src="/uploads/<%=user.image%>"
                  width="100"
                  class="img-thumbnail mt-1"
                />
              </div>
              <input type="hidden" name="old_image" value="<%= user.image%>" />
              <button type="submit" class="btn btn-success w-100 mb-3">
                update user
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('./partials/script')%>
  </body>
</html>
